#login-name {
    float: right;
}

.my-button {
    margin-top: 10px;
    border-radius: 5px;
}

.row-button {
    border-radius: 5px;
}

.my-category-group {
    margin-top: 10px;
}

.is-failure {
    background-color: red;
}

.is-success {
    background-color: green;
}